@import '../../styles/constants';

:local(.styles) {
	padding-top: 60px;
	text-align: center;
	width: 450px;
	margin: 0 auto;

	svg {
		margin-top: 80px;
		position: relative;
		animation: spin 4s both infinite;
	}

	.hourglass {
		stroke: $offWhite;
	}

	.sand.btm {
		position: relative;
		fill: $orange;
		animation: btmSand 4s both infinite;
	}

	.sand.top {
		position: relative;
		fill: $orange;
		animation: topSand 4s both infinite;
	}
}

@media (max-width: 700px) {
	:local(.styles) {
		padding: 60px 16px;
		width: 100%;
		box-sizing: border-box;
	}
}

@keyframes btmSand {
	0% {
		y: 175;
	}
	80% {
		y: 100;
	}
	100% {
		y: 100;
	}
}

@keyframes topSand {
	0% {
		y: 25;
	}
	80% {
		y: 100;
	}
	100% {
		y: 100;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	80% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(180deg);
	}
}

